<div class="home">
    <div class="header">
        <h2>Dashboard Overview</h2>
        <button class="start-interview-btn" routerLink="/dashboard/file-import">Start Interview</button>
    </div>
  
    <div class="stats-container">
      <div class="stat-card">
        <span class="icon">👥</span>
        <h3>Total Candidates</h3>
        <p>{{ totalCandidates }}</p>
      </div>
  
      <div class="stat-card">
        <span class="icon">🎤</span>
        <h3>Total Interviews</h3>
        <p>{{ totalInterviews }}</p>
      </div>
  
      <!-- <div class="stat-card">
        <span class="icon">📆</span>
        <h3>Upcoming Interviews</h3>
        <p>{{ upcomingInterviews }}</p>
      </div> -->
  
      <!-- <div class="stat-card">
        <span class="icon">✅</span>
        <h3>Interviews Passed</h3>
        <p>{{ interviewsPassed }}</p>
      </div> -->
  
      <!-- <div class="stat-card">
        <span class="icon">❌</span>
        <h3>Interviews Failed</h3>
        <p>{{ interviewsFailed }}</p>
      </div> -->
    </div>
  </div>
  